@import './fonts.css';
@import './theme.css';
@import './tailwind.css';

:root {
  background-color: rgb(var(--color-neutral-50));
}

a {
  @apply text-primary-600 underline decoration-primary-200 transition-colors hover:text-primary-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-400 focus-visible:ring-offset-2;
}

button {
  @apply font-medium;
}
